body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.contact-picture-flex {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

img {
  margin-top: 10px;
  border: solid black 4px;
}

header {
  text-align: center;
}

h1 {
  font-size: 48px;
}

a:hover {
  font-size: 28pt;
}

a:visited {
  color: red;
}

a:active {
  color: black;
}

.contact {
  border: solid black 4px;
  width: 300px;
  font-size: 20pt;
}

.contact {
  padding: 5px;
}

address {
  padding: 5px;
}

a {
  padding-top: 40px;
}

.education {
  font-size: 20pt;
}

.work {
  font-size: 20pt;
}

main {
  margin: 10px 10px 10px 10px;
}

@media screen and (max-width: 859px) {
  main {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  h1 {
    font-size: 30px;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .contact-picture-flex {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .contact {
    border: solid black 4px;
    width: 80%;
    font-size: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }

  .picture {
    width: 200px;
    margin-left: auto;
    margin-right: auto;
  }
}